body {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

 .big_margin_right {
    margin-right: 45%;
 } 

  h1, h2, h3 {
    font-family: sans-serif;
    margin-top: 1.5em; 
  }

  h1 {
   font-size: 32px;   
  }

  table, th, td {
      border: 1px solid black;
  }

  img + figcaption {
      font-style: italic;
  }

  .floatright {
      float: right;
  }

  